.tagblock {
	display: inline-block;
	background-color: dodgerBlue;
	font-family: "Anonymous Pro", serif;
	font-weight: bold;
	margin: 0px 4px;
	padding: 0px 6px;
	text-align: left;
	float: none;
	color: white;
}

.tagblock:hover {
					border-radius: 5px;
                  transform: scale(1.2);
                  transition-duration: 0.2s;
                }